body {
    display: block;
    margin: 0px;
}
.header{
    background-image: url("../images/background-art.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
}
section{
    padding: 30px;
}
.profile-image{
    width: 230px;
    border-radius: 50%;
    margin-left: 30px;
    padding: 3px;
    background: #FFFFFF;
}
.validate{
    float: right;
}
.footer{
    padding: 30px;
    background: #3698ae;
    color: white;

}
